@{
    Layout = "Shared/_Layout.cshtml";
}

<h2>What's going on here?</h2>

<p>Who Can Help Me? allows you to create a profile of your skills, knowledge and experience so that other people within the community can seek your advice.</p>

<h2>Who Can Help Me is Open Source</h2>

<p>Who Can Help Me? is a technology demo, using the following Open Source Frameworks &amp; Tools:</p>

<ul class="about_list">
    <li><a href="http://nancyfx.org/">NancyFx</a></li>
</ul> 

<p>This version of Who Can Help Me? was build so that I had something more interesting than a To Do list to build when experimenting with new Javascript frameworks. The app contains
    a REST-like API against which you can write your own user interface.</p>