<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <configSections>
        <sectionGroup name="system.web.webPages.razor"
                      type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
            <section name="pages"
                     type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
                     requirePermission="false" />
        </sectionGroup>
        <section name="razor"
                 type="Nancy.ViewEngines.Razor.RazorConfigurationSection, Nancy.ViewEngines.Razor" />
        <section name="authenticationProviders"
                 type="SimpleAuthentication.Core.Config.ProviderConfiguration, SimpleAuthentication.Core" />
    </configSections>
    <system.web>
        <compilation debug="true"
                     targetFramework="4.5">
            <buildProviders>
                <add extension=".cshtml"
                     type="Nancy.ViewEngines.Razor.BuildProviders.NancyCSharpRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders" />
                <add extension=".vbhtml"
                     type="Nancy.ViewEngines.Razor.BuildProviders.NancyVisualBasicRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders" />
            </buildProviders>
        </compilation>
        <httpRuntime targetFramework="4.5" />
        <httpHandlers>
            <add verb="*"
                 type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler"
                 path="*" />
        </httpHandlers>
    </system.web>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <httpErrors existingResponse="PassThrough" />
        <handlers>
            <add name="Nancy"
                 verb="*"
                 type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler"
                 path="*" />
        </handlers>
    </system.webServer>
    <appSettings>
        <add key="webPages:Enabled"
             value="false" />

        <add key="encryption.passphrase"
             value="{9C5F7392-C46E-4D8C-87F7-08244743091C}"/>
        <add key="encryption.salt"
             value="{88A7F555-CE82-42EB-9C8C-17A010C9654F}"/>
        <add key="encryption.hmacPassphrase"
             value="{24953C1B-8101-4089-B46E-B9B978FC0942}"/>
        <add key="encryption.hmacSalt"
             value="{7FA3C7EF-B6BB-427C-8A88-9C86BE5CF630}"/>

        <add key="userSessionDurationInMinutes"
             value="20000"/>
    </appSettings>
    <connectionStrings>
        <add name="raven"
             connectionString="Url=http://localhost:8282;Database=wchm"/>
    </connectionStrings>
    <system.web.webPages.razor>
        <pages>
            <namespaces>
                <add namespace="Nancy.ViewEngines.Razor" />
                <add namespace="WhoCanHelpMe.Web.Modules.ViewModels" />
            </namespaces>
        </pages>
    </system.web.webPages.razor>
    <razor disableAutoIncludeModelNamespace="false">
        <assemblies>
            <add assembly="WhoCanHelpMe.Services" />
            <add assembly="WhoCanHelpMe.Domain" />
        </assemblies>
        <namespaces>
            <add namespace="Nancy.ViewEngines.Razor" />
            <add namespace="WhoCanHelpMe.Web.Modules.ViewModels" />
        </namespaces>
    </razor>    
    
    <authenticationProviders>
        <providers>
            <add name="Facebook"
                 key="1604032576486798"
                 secret="8d33e0c2d510612abb0dacd788c725c5" />
            <add name="Google"
                 key="please-enter-your-real-value"
                 secret="please-enter-your-real-value" />
            <add name="Twitter"
                 key="please-enter-your-real-value"
                 secret="please-enter-your-real-value" />
            <add name="WindowsLive"
                 key="please-enter-your-real-value"
                 secret="please-enter-your-real-value" />
        </providers>
    </authenticationProviders>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Ninject"
                                  publicKeyToken="c7192dc5380945e7"
                                  culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.2.0.0"
                                 newVersion="3.2.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Ninject.Extensions.ChildKernel"
                                  publicKeyToken="c7192dc5380945e7"
                                  culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.2.0.0"
                                 newVersion="3.2.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>